/* Importando fonte */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Righteous&display=swap');

/* Animações Bloco lista */

@keyframes Toleft {
  0% {
    transform:translateX(100%); 
  }

 100% {
    transform: translateX(0%);
  }
}

/* Animações Bloco imagem */

@keyframes ToRight {
  0% {
    transform:translateX(-100%); 
  }

 100% {
    transform: translateX(0%);
  }
}




html,
body {
  margin: 0;
  padding: 0;
  font-family: "Righteous";
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}

.titulo-logo {
  display: flex;
}

.logo-nav > img {
  margin-top: 0px;
  width: 150px;
  height: auto;
  padding: 12px;
}

.barra-navegacao {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  top: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.barra-navegacao > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
}

.barra-navegacao > ul > li {
  margin-right: 20px;
}

.barra-navegacao > ul > li:last-child {
  margin-right: 0;
}

.titulo {
  width: 132px;
  height: 28px;
  left: 122px;
  top: 36px;
  margin: auto;
  display: flex;
  font-family: "Lilita One";
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
}

.pizza {
  color: #39b24a;
}

.e {
  color: #fff;
}

.front {
  color: red;
}

/* Estilização Main*/

.container {
  display: flex;
  margin-top: 0px;
  background-color: #222222;
}

.bloco-imagem {
  display: flex;
  position: relative;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: ToRight 1.5s;
}

.bloco-imagem > img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-radius: 35px;
  padding: 10px;
}

.bloco-imagem > h2 {
  background-color: #c52823;
  position: absolute;
  border-radius: 5px;
  top: 70%;
  left: 10%;
  color: #f0e1ba;
  font-size: 35px;
  padding: 3px 15px;
}

.bloco-lista {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  flex-grow: 1;
  background-color: orange;
  border-radius: 35px;
  margin: 9px;
  animation: Toleft 1.5s;
}

.titulo-lista > h2 {
  font-size: 30px;
  margin: 0px;
  position: absolute;
  top: 110px;
}

.titulo-lista > ul {
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  width: 100%;
  margin-left: 300px;
  margin-top: 20px;
}
.bloco-lista > li {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  background-color: #ff5555;
  border-radius: 5px;
  margin-bottom: 10px;
}

.imagem-bloco-lista > img {
  width: 300px;
  height: 360px;
}

.imagem-bloco-lista {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 100px;
}

.titulo-lista {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 28px;
  color: #222222;
  position: relative;
}

.titulo-lista > img {
  width: 350px;
  height: 400px;
}




/* Estilização footer*/

footer {
  background-color: #222222;
  padding: 10px 1px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  margin-left: 20px;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.footer-menu li {
  display: inline-block;
  margin-right: 10px;
}

.footer-menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.footer-logo img {
  width: 150px;
  height: auto;
  padding: 12px;
}

.titulo2-imagem2 {
  display: flex;
  align-items: center;
}

.titulo2 {
  display: flex;
  justify-content: flex-end;
  font-family: "Lilita One", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-left: 1100px;
}

.pizza2 {
  color: #39b24a;
}

.e2 {
  color: #fff;
}

.front2 {
  color: red;
}
