/* Importando fonte */

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Righteous&display=swap");

/* Animações Bloco lista */

@keyframes Toleft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Animações Bloco imagem */

@keyframes ToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Righteous";
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}

.titulo-logo {
  display: flex;
}

.logo-nav > img {
  margin-top: 0px;
  width: 150px;
  height: auto;
  padding: 12px;
}

.barra-navegacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  top: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.barra-navegacao > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.barra-navegacao > ul > li {
  margin-right: 20px;
}

.titulo {
  margin: auto;
  font-family: "Lilita One";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.pizza {
  color: #39b24a;
}

.e {
  color: #fff;
}

.front {
  color: red;
}

/* Estilização Main*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
}

.juncao-dos-blocos {
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

.bloco-imagem {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  animation: ToRight 1.5s;
}

.bloco-imagem > img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-radius: 35px;
}

.bloco-imagem > h2 {
  background-color: #c52823;
  position: absolute;
  border-radius: 5px;
  top: 70%;
  left: 10%;
  color: #f0e1ba;
  font-size: 35px;
  padding: 3px 15px;
}

.bloco-lista {
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  background-color: orange;
  border-radius: 35px;
  animation: Toleft 1.5s;
}

.titulo-lista > h2 {
  font-size: 2.1rem;
}

.titulo-lista > ul {
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.bloco-lista > li {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  background-color: #ff5555;
  border-radius: 5px;
  margin-bottom: 10px;
}

.imagem-bloco-lista > img {
 
  width: 100%;
  padding-top: 5rem;
  padding-right: 5rem;
}

.imagem-bloco-lista {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 100px;
}

.titulo-lista {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 28px;
  color: #222222;
  position: relative;
}

.titulo-lista > img {
  width: 350px;
  height: 400px;
}

/* Estilização footer*/

footer {
  background-color: #222222;
  padding: 10px 1px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.footer-menu {
  display: flex;
  list-style-type: none;
}

.footer-menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.footer-logo img {
  width: 8rem;
  padding: 0.8rem;
}

.titulo2-imagem2 {
  display: flex;
  align-items: center;
}

.titulo2 {
  font-family: "Lilita One", sans-serif;
  font-size: 24px;
}

.pizza2 {
  color: #39b24a;
}

.e2 {
  color: #fff;
}

.front2 {
  color: red;
}

/* Div que abriga os dois blocos*/
